<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EduLmsDb"
			 connectionString="Server=DESKTOP-KDOE91F\TINO;Database=EduLMS;User Id=sa;Password=123456;TrustServerCertificate=True;MultipleActiveResultSets=true"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>